/* CartPage.css */

.posts-container {
        height: 82vh;
    width: 100%;
  }
  
  
  .post-info {
    padding: 10px;
    border: 1px solid #f8efea;
  }
  
  /* Adjust the size of the image placeholder */
  .post .post-info .placeholder-image {
    height: 200px;
    width: 100%;
    background-color: #f8efea;
    margin: "0px"
  }
  
  /* Add styles for the buttons */
  .post-button-group {
    margin-top: 10px;
  }
  
  .add-to-cart {
    background-color: #192f01; /* Green */
    border: none;
    color: #f8efea;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cart-button {
    background-color: #f44336; /* Red */
    border: none;
    color: #f8efea;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .expires-soon-label {
    color: #f44336;
  }
  .cart-label-container {
    margin-top: 2cm;
  }
  
  .centered-logo {
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    }
  
    .post-grid {
      width: 100%;
      height: 100%
    }