.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5cm; /* Adjust the height as needed */
    background-color: #192f01d6; /* Example background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; /* Adjust padding as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example shadow */
    z-index: 1000; /* Ensure it's above other content */
}

.dropdown select {
    width: 160px; /* Adjust width as needed */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    background-color: #adde69;
    color: #192f01;
    border: none; /* Remove border */
    border-radius: 4px; /* Adjust border radius as needed */
    cursor: pointer; /* Set cursor style */
}

.search-button button{
    background-color: transparent;
    color: #f8efea;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Example font size */
}
.cart-button button {
    width: 80px;
    padding: 0.5rem rem; /* Adjust padding as needed */
    background-color: #adde69;
    color: #192f01;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Example font size */
}
.dropdown select,
.search-button button:hover,
.cart-button button:hover {
    text-decoration: underline;
}
.search-button img{
    width: 9%; /* Set width to 1/8 of the original size */
    height: auto; /* Maintain aspect ratio */
}
.cart-button img {
    width: 30%; /* Set width to 1/8 of the original size */
    height: auto; /* Maintain aspect ratio */
}
.search-container {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
}
.search-input {
    padding: 8px 12px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Add border to the input */
    border-radius: 4px; /* Add border radius for rounded corners */
    font-size: 16px; /* Set font size */
}
.search-icon {
    
    width: 8%; /* Set width to 1/8 of the original size */
    margin-left: 10px; /* Adjust margin to separate from the input */
}
